.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

/*.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-header {
  background-color: #F16E10;
}*/

/*body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}*/
